---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---
<BaseLayout title="Blog">
  <h1>Blog</h1>
  <p><strong>Total posts:</strong> {posts.length}</p>
  <ul>
    {posts.map(({ slug, data }) => (
      <li>
        <a href={`/blog/${slug}/`}>{data.title} — {String(data.date)}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
